.env
.venv_test/
venv/
__pycache__/
**/__pycache__/
*.pyc

Alpha/models/
Alpha/outputs/
Alpha/test_files/

Beta/models/
Beta/test_files/
Beta/jay_test/
Beta/kaggle_test_results/
Beta/archive.zip

Gamma/*.ipynb
