fastapi
uvicorn[standard]
python-multipart
python-dotenv
SQLAlchemy>=2.0
alembic
psycopg2-binary
pg8000
google-cloud-storage
pandas
numpy
scikit-learn
pyarrow
fastparquet
faker
transformers
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
scipy
Pillow
nltk
beautifulsoup4
matplotlib
seaborn
pyod
statsmodels
pingouin
tiktoken
sentencepiece
